/* IE STYLES */

body { margin-top: 20px; }
.animationReset { filter: alpha(opacity=0);  }
#wrapper { margin-top:0; behavior: url('pie/PIE.htc'); }
#box { behavior: url('pie/PIE.htc'); }
#wrapper #header #mainLogo { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mainlogo.png', sizingMethod='scale'); }
#wrapper #header #menuItems li a .label { *bottom: 0; }
#wrapper #header #menuItems #imgAbout { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/iconAbout.png',sizingMethod='crop'); }
#wrapper #header #menuItems #imgProjects { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/iconProjects.png',sizingMethod='crop'); }
#wrapper #header #menuItems #imgContact { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/iconContact.png',sizingMethod='crop'); }
