{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "IS_SERVER": true,
    "IS_CLIENT": true
  },
  "rules": {
    "new-cap": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0
  }
}
