ErrorDocument 400 http://ankitsardesai.ca/
ErrorDocument 401 http://ankitsardesai.ca/
ErrorDocument 403 http://ankitsardesai.ca/
ErrorDocument 404 http://ankitsardesai.ca/

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
Order Allow,Deny
Deny from all
</FilesMatch>