!!! 5
html
  head
    title Super Secret Bro Land
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    != css('bootstrap')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  body
    .container
      h1 Admin Panel
