!!! 5
html
  head
    title Ankit Sardesai
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    != css('bootstrap')
    != css('master')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js')
    != js('bootstrap')
    != js('modernizr')
    != js('master')
  body
    .backgrounds
      .main
        .background
      .blur
        .background
    section#top
      .center-container
        .main-box
          h3 Ankit Sardesai
          h6 Software Developer
          .icons
            a.instagram.fa.fa-instagram(href="https://instagram.com/amsardesai",title="@amsardesai",data-ga-label="Instagram")
            a.github.fa.fa-github-alt(href="https://github.com/amsardesai",title="@amsardesai",data-ga-label="GitHub")
            a.fa.fa-file-pdf-o(href="/resume",title="My R&eacute;sum&eacute;",data-ga-label="Resume")
            a.fa.fa-envelope(href="mailto:me@ankitsardesai.ca",title="me at ankitsardesai dot ca",data-ga-label="Email")
            a.linkedin.fa.fa-linkedin(href="https://www.linkedin.com/in/amsardesai",title="Ankit Sardesai",data-ga-label="LinkedIn")
      a.arrow-down.fa.fa-chevron-down(href="#")

    section#projects
      .container
        h1 My Past Work
        hr
        .intro Here are some things I have worked on in the past:
        .projects
          .left
            a(href='https://github.com/amsardesai/middleman-protect-emails')
              .heading middleman-protect-emails
              .description Middleman extension for email link protection and encryption
              .language ruby
            a(href='https://github.com/amsardesai/uwaterlooapi')
              .heading uwaterlooapi
              .description RubyGem for interfacing with the University of Waterloo API
              .language ruby
            a(href='http://2012-site.ankitsardesai.ca/')
              .heading ankitsardesai.ca @ 2012
              .description ankitsardesai.ca as it was in 2012
              .language html5
            a(href='http://2012-site.ankitsardesai.ca/css3transform/')
              .heading CSS3 Transform
              .description Visual tool for the CSS3 transform function
              .language css3
          .right
            a(href='http://2014-site.ankitsardesai.ca')
              .heading ankitsardesai.ca @ 2014
              .description ankitsardesai.ca as it was in 2014
              .language expressjs
            a(href='http://goansinamerica.com')
              .heading Goan Convention 2014
              .description The official website of the 2014 Goan Convention
              .language expressjs
            a(href='http://mapofgoans.ankitsardesai.ca')
              .heading Map of Goans
              .description A map listing every Goan in North America
              .language expressjs &amp; mongo
            a(href='http://2012-site.ankitsardesai.ca/uw-roomschedule/')
              .heading UW RoomSchedule
              .description Retrieves the class/tutorial schedule for individual rooms throughout the University of Waterloo campus
              .language html5
          .clearfix
        .outro You can see everything I've worked on on <a href='https://github.com/amsardesai'>GitHub</a>

      .copyright &copy; Ankit Sardesai 2015

    script.
      !function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-37589348-3","auto"),ga("send","pageview");
