doctype 5
html
	head
		title Ankit Sardesai
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel='stylesheet', href='/stylesheets/master.css')
		script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/master.js')
	
	body
		header
			.container
				a.icon-envelope
				a.icon-github
				a.icon-linkedin
				a.logo ANKIT SARDESAI