!!! 5
html
  head
    title Ankit Sardesai
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/master.css?v=1')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js')
    script(type='text/javascript',src='/javascripts/bootstrap.min.js')
    script(type='text/javascript',src='/javascripts/modernizr.min.js')
    script(type='text/javascript',src='/javascripts/master.js')
  body
    .main-background
    .blur-background
    section#top
      .center-container
        .main-box
          h3 Ankit Sardesai
          h6 Software Developer
          .icons
            a.twitter.fa.fa-twitter(href="https://twitter.com/amsardesai",title="@amsardesai")
            a.github.fa.fa-github-alt(href="https://github.com/amsardesai",title="@amsardesai")
            a.fa.fa-file-pdf-o(href="/resume",title="My R&eacute;sum&eacute;")
            a.fa.fa-envelope(href="mailto:me@ankitsardesai.ca",title="me at ankitsardesai dot ca")
            a.linkedin.fa.fa-linkedin(href="https://www.linkedin.com/in/amsardesai",title="Ankit Sardesai")
      a.arrow-down.fa.fa-chevron-down(href="#")

    section#projects
      .container
        h1 My Past Work
        hr.animate-waypoint
        ul.projects
          li hihih
          li hihihihi

  //-
    header.navbar-fixed-top
      .container
        a.icon-envelope(href='mailto:me@ankitsardesai.ca',title='me at ankitsardesai dot ca')
        a.icon-github(href='http://github.com/amsardesai',title='amsardesai')
        a.icon-linkedin(href='http://linkedin.com/in/amsardesai',title='Ankit Sardesai')
        a.logo(href='#top',title='Return to top') Ankit S
          span.last-name ardesai
    section#aboutme
      .container
        h3 My name is Ankit Sardesai.
        .city
        .buildings
        .hidden-paragraphs
          p I am a Software Engineering student at the <strong>University of Waterloo</strong>.
          p I love making <strong>cool stuff</strong> on any platform and learning new things in the wonderful world of software. I also love alternative rock music, Tim Horton's coffee, and my home city of Toronto.
          p
            a.fancy-button(href="resume") My R&eacute;sum&eacute;
    section#projects
      .container
        h1 My Past Work
        p The source code for all these projects can be found on my <a href='http://github.com/amsardesai'>GitHub</a>.
        .list
          .left
            a(href='http://goansinamerica.com/')
              h2 Goan Convention 2014
              | The official website of the 2014 Goan Convention
              span node
            a(href='http://old.ankitsardesai.ca/uw-roomschedule/')
              h2 UW RoomSchedule
              | Retrieves the class/tutorial schedule for individual rooms throughout the University of Waterloo campus.
              span php
            a(href='http://old.ankitsardesai.ca/')
              h2 Old Website
              | An older version of this site built in HTML5.
              span html5
          .right
            a(href='http://mapofgoans.ankitsardesai.ca/')
              h2 Map of Goans
              | A map listing every Goan in North America. Data has been collected voluntarily.
              span node/mongo
            a(href='http://old.ankitsardesai.ca/css3transform/')
              h2 CSS3 Transform
              | Visual tool demonstrating how the CSS3 transform function and transformation matrices work.
              span css3
    footer &copy; Ankit Sardesai 2014
