!!! 5
html
  head
    title Ankit Sardesai
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/master.css?v=1')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js')
    script(type='text/javascript',src='/javascripts/bootstrap.min.js')
    script(type='text/javascript',src='/javascripts/modernizr.min.js')
    script(type='text/javascript',src='/javascripts/master.js')
  body
    header
    section#name
      .center-container
        h3 Ankit Sardesai
        .hr-container
          hr.animate.yellow
        .icons
          a.github.fa.fa-github

  //-
    header.navbar-fixed-top
      .container
        a.icon-envelope(href='mailto:me@ankitsardesai.ca',title='me at ankitsardesai dot ca')
        a.icon-github(href='http://github.com/amsardesai',title='amsardesai')
        a.icon-linkedin(href='http://linkedin.com/in/amsardesai',title='Ankit Sardesai')
        a.logo(href='#top',title='Return to top') Ankit S
          span.last-name ardesai
    section#aboutme
      .container
        h3 My name is Ankit Sardesai.
        .city
        .buildings
        .hidden-paragraphs
          p I am a Software Engineering student at the <strong>University of Waterloo</strong>.
          p I love making <strong>cool stuff</strong> on any platform and learning new things in the wonderful world of software. I also love alternative rock music, Tim Horton's coffee, and my home city of Toronto.
          p
            a.fancy-button(href="resume") My R&eacute;sum&eacute;
    section#projects
      .container
        h1 My Past Work
        p The source code for all these projects can be found on my <a href='http://github.com/amsardesai'>GitHub</a>.
        .list
          .left
            a(href='http://goansinamerica.com/')
              h2 Goan Convention 2014
              | The official website of the 2014 Goan Convention
              span node
            a(href='http://old.ankitsardesai.ca/uw-roomschedule/')
              h2 UW RoomSchedule
              | Retrieves the class/tutorial schedule for individual rooms throughout the University of Waterloo campus.
              span php
            a(href='http://old.ankitsardesai.ca/')
              h2 Old Website
              | An older version of this site built in HTML5.
              span html5
          .right
            a(href='http://mapofgoans.ankitsardesai.ca/')
              h2 Map of Goans
              | A map listing every Goan in North America. Data has been collected voluntarily.
              span node/mongo
            a(href='http://old.ankitsardesai.ca/css3transform/')
              h2 CSS3 Transform
              | Visual tool demonstrating how the CSS3 transform function and transformation matrices work.
              span css3
    footer &copy; Ankit Sardesai 2014
