doctype 5
html
	head
		title Ankit Sardesai
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/master.css')
		script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/master.js')
	body
		header.navbar-fixed-top
			.container
				a.icon-envelope(href='mailto:me@ankitsardesai.ca')
				a.icon-github(href='http://github.com/amsardesai')
				a.icon-linkedin(href='http://linkedin.com/in/amsardesai')
				a.logo(href='#top') Ankit S
					span.last-name ardesai
		section#aboutme
			.container
				h3 My name is Ankit Sardesai and I am a software developer from the Toronto area.
				.city
				.buildings
				.hidden-paragraphs
					p I go to the <strong>University of Waterloo</strong> and I study Software Engineering.
					p I enjoy carefully creating interfaces that favour intuitivity without sacrificing functionality. My passion is coding and designing, but I also like photography and Indian food.
					p Click <a href="images/resume.pdf">here</a> to view my r&eacute;sum&eacute;.
		section#projects
			.container
				h1 My Work
				p Here is some of my past work.
				a(href='')
					strong item1
					p description
					.tag html
				a(href='')
					strong item2
					p description
					.tag html
